
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f7fa;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  padding: 20px;
  background: linear-gradient(135deg,  #2a537c,#524e4e);
  width: 110%;
}

header h1 {
  font-size: 28px;
  margin-bottom: 15px;
  color: white;
}

.actions {
  display: flex;
  gap: 15px;
  justify-content: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* .hidden {
  display: none;
} */
#filter-price{
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
#filter-price:hover {
  background-color: #0056b3;
}
.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.product-card {
  width: 220px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background: white;
  text-align: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(20px);
  opacity: 0;
}

.product-card.visible {
  transform: translateY(0);
  opacity: 1;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.product-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.product-card span {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
  color: #007bff;
}

.product-card p {
  font-size: 14px;
  color: #555;
  margin: 10px;
}


